footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer>:first-child{
    display: flex;
    gap: 30px;
}

footer>:nth-child(2){
    display: flex;
    gap: 20px;
}
footer{
    height: 100px;
}