*{
    border: 1px solid blue;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 10vh;
}

nav>:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
nav>:nth-child(2)>h2{
    font-size: 80%;
}

nav>:first-child{
    
}